body {
    margin: auto;
    padding: 5px 0;
    width: 97%;
}

a {
    text-decoration: none;
}

.nav-list {
    margin: 0;
    padding: 16px 0;
    border-radius: 3px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-item {
    list-style: none;
    margin-right: 20px;
}

.nav-item a {
    color: black;
}

.nav-item:first-child {
    margin-right: auto;
    margin-left: 32px;
    list-style: none;
}

.fi {
    font-size:  12px;
    margin-right: 10px;
    display: inline-block;
    transition: 0.2s;
}

.fi:hover {
    transform: scale(1.8);
}

<<<<<<< HEAD

.span-nav {
    text-align: center;
    transition: 0.3s;
}

.span-nav:hover {
    background-color: rgba(0,0,0,0.7);
    color: white;
    padding: 6px;
    border-radius: 6px;
}

#search {
    display: flex;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.5);
    width: 250px;
    transition: 0.2s;
}

#search:hover {
    padding: 8px;

=======
#search {
    display: inline-block;
    border-radius: 8px;
    outline: none;
    padding: 3px 5px;
    width: 200px;
}

#search:active {
    background-color: rgba(0,0,0,0.1);
    color: black;
}

nav {
    border-bottom: 2px solid rgba(0,0,0,0.5);
>>>>>>> e7a18486434785b23b910f3c64c5bcda2d2f1341
}

header {
    display: flex;
    margin: 0;
    width: 100%;
    height: 80vh;
}

header .img {
    background-image: url('https://lh3.googleusercontent.com/pw/ABLVV84jUUReACDT7MN0hD7Jv_NKa1QinogTq1Fid4KRSSTjGZNX8_CFIZ2wF1aAZ-5u1qdlfCyUl2Zfe8zfXpll3WmmiEPTzfbucSq6S0pE7-tw7FxYxLvgfPpuu4k2LZczJj5g-ESsd-e9zyLV7D1aFLg7RzT4KH__SFwqTsgrlPLl5C--oX4uKmvxQZuIZv9h7BOuQSuuXa0cjf2ElA7i0EGFuw7n3L4OKIUOI5-xkHszELINyeaz9f-hCursHZ_vV-lHz_bJY5i6-amlaFrVmqfpVDfWpnMjcdZ2R2_X-Oygy6IbPb28Xhp5RiWq8c_3RIQTC4ew3OwlgKa2J8TZoVk_lhejVegLcBaeL98GVTuvUHuVw2a-SniI-0MI9XN308LLpEh0IZ9C0HisgpCo80BaNoGAPP_lslxod9_4Px1cKk16lH0-loj-iekvOSXzBUIr1A7mJMJ2x-_RjYInS2RysKaCvdCVzOdI_Dx5fO0dti4PyE4muy5oUigoWKrSWFUR_kZX04E0rAx_JUCJ-pYWUCWoD4ek2I5WeDtzZPMYFSNYl57VHkLxZ2ZXUx1Af0RGjXeVqgNuZQ4tSExoKJUF_kuoO3HYBxG_hmhs2ocdyfNqOOrSoAWSaV5AfuAk5TNpe-_C10MV-gnmEPAMgFVOYaZEavRD3ZajHaPdtN6AxVuoumO_XcGShtqdjUa_KrT_0MGQSGkmnxc-3gY_VXMIlZJexpuE7qyc7yrd_GCilSWRFOqOXPgX-NhOKD_EY1uCVW_-PIihLG7b9a4FpiG88Sj5685aLdVNZlr6Bz7yJH8oboxCtzTrZj4pEPmAM3qsRwYCUjD7Nm7mDvGB1FfW5fTGC0b7onzel0_oHBEsmb7OKuc2Cma1x9cLdc_KkMsGAWclZQzLxlmNZLcV2RB2xktCB3IrploTwrSpRuS5lh06nJVE-7ttHqhCZiEN58ny2dVFRit2SsWs7JrkI06rQ0acTzVBetPuNAXgeVefCxo-5AneSISGR52XBRYX-I5ATdpT7h9lJi1WGwsGpbOaZOI7WsuOKoKU7OMbgd6Nx4FI_CbAOQ=w1549-h857-s-no-gm?authuser=5');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    width: 100%;
    border-radius: 10px;
}

.featured-month {
    font-size: 1.1rem;
    letter-spacing: 2px;
}

.featured-text button {
    position: relative;
    padding: 0.75rem;
    margin-top: 3rem;
    margin-bottom: 0.2rem;
    width: 8.5rem;
    border-radius: 10px;
    font-size: 1rem;
    transition: 0.5s ease;
    color: #fff;
    background-color: #000;
    letter-spacing: 1.3px;
}

.featured-text button:hover {
    background-color: #fff;
    color: #000;
    transform: scale(1.1);
}

.featured-text {
    width: 200px;
    border: 1px solid white;
    border-radius: 10px;
    text-align: center;
}


.see-more {
    color: #000;
    position: absolute;
    bottom: 1rem;
    right: 2rem;
    font-size: 1.2rem;
}

.service {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    background-color: rgba(0,0,0,0.7);
    margin-top: 1px;
    border-radius: 10px;
}

.service div {
    width: 120px;
    height: 130px;
    text-align: center;
    border-radius: 10px;
    margin: 5px 0 5px 0;
}

.box {
    border: 1px solid red;
    background-color: #fff;
}

.box img {
    border-radius: 10px;
}





















/*
.box .bottomleft {
    background-color: black;
    position: relative;
    height: 50%;
    margin: 0;
    border-radius: 0;
    border-bottom-left-radius: 20px;
}

.box .bottomright {
    display: block;
    background-color: white;
    position: relative;
    height: 60px;
    width: 15px;
    float: right;
    margin: 0;
    border-radius: 0;
    border-top-right-radius: 20px;
    box-shadow: 0 -20px 0 0;
}

*/